// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import './fonts.scss';
@import "./burger.scss";
@import "./article.scss";

.article__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: .7rem;
    column-gap: .7rem;

}
